//
// Fonts
//

// Nunito - Google Font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');


@font-face {
    font-family: 'Somar';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/Somar-Medium.otf") format("otf"),
    url("../fonts/Somar-Medium.otf") format("otf");
}

@font-face {
    font-family: 'Somar';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Somar-Medium.otf") format("otf"),
        url("../fonts/Somar-Medium.otf") format("otf");
}

@font-face {
    font-family: 'Somar';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Somar-Medium.otf") format("otf"),
        url("../fonts/Somar-Medium.otf") format("otf");
}

@font-face {
    font-family: 'Somar';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Somar-Medium.otf") format("otf"),
        //  url("../fonts/iter-bold.woff?v=3.13") format("woff");
}